<%= form_for [:admin, @subject] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="input-group col-md-12">
    <span class="glyphicon glyphicon-star"></span>&nbsp;
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control",
      placeholder: t("form.enter_name") %>
  </div>

  <div class="input-group col-md-12">
    <span class="glyphicon glyphicon-star"></span>&nbsp;
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control",
      placeholder: t("form.enter_description") %>
  </div>

  <div class="input-group col-md-12">
    <span class="glyphicon glyphicon-star"></span>&nbsp;
    <%= f.label :day_work %>
    <%= f.text_field :day_work, class: "form-control",
      placeholder: t("form.enter_description") %>
  </div>

  <div class="input-group col-md-12">
    <span class="glyphicon glyphicon-star"></span>&nbsp;
    <%= t "subjects.tasks" %>
  </div>

  <div class="input-group col-md-12">   
    <%= f.fields_for :tasks do |builder| %>
      <%= render "task_fields", f: builder %>
    <% end %> 
  </div>

  <p><%= link_to_add_fields t("subjects.add_other_task"), f, :tasks %></p>

  <div class="input-group col-md-12">
    <%= f.submit t("subjects.create_subject"), class: "btn btn-success btn-block" %>
  </div>
  <br><br>
<% end %>
