<div class="row">
  <div class="col-md-3">
    <aside>
      <section class="user_info">
        <%= link_to gravatar_for(@user, size: Settings.avatar_size), @user %>
      </section>
    </aside>
  </div>
  <h1><%= t "user.profile" %></h1>
  <%= link_to t("user.edit"), edit_user_path(@user) %>    
  <h1><%= t "user.name" %> : <%= @user.name %></h1>
  <h1><%= t "user.email" %> : <%= @user.email %></h1>
</div>
