<div class="row">
  <div class="col-md-3">
    <aside>
      <section class="user_info">
        <%= link_to gravatar_for(@user, size: Settings.avatar_size), @user %>
      </section>
    </aside>
  </div>
  <h1 class="profile">
    <%= t "user.profile" %>
  </h1>
  <%= link_to t("user.edit"), edit_user_path(@user), class: "btn btn-primary",
    data: {modal: true} if can? :edit, @user %>
      
  <% if can? :destroy, @user %>
    <%= link_to t("admin.user.delete"), admin_user_path(@user), class: "btn btn-primary",
      method: :delete, data: {confirm: t("admin.user.confirm")} %>
  <% end %>
  
  <h1 class="profile">
    <%= t "user.name" %> : <%= @user.name %><br>
    <%= t "user.email" %> : <%= @user.email %>
  </h1>
</div>
