<% provide :title, t("user.edit") %>

<div class="form-header">
  <h1>
    <span class="glyphicon glyphicon-user"></span>
    <%= t "user.edit" %>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@user, html: {multipart: true}) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-user"></span>&nbsp;
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control",
          placeholder: t("form.enter_name") %>
      </div>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;  
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control",
          placeholder: t("form.enter_email") %>
      </div>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;  
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control",
          placeholder: t("form.enter_password") %>
      </div>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;  
        <%= f.label :password_confirmation, t("user.confirmation") %>
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t("form.enter_password") %>
      </div>
      
      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;
        <%= f.file_field :avatar, accept: Settings.image_type_accept %>
      </div>

      <div class="input-group col-md-12">
        <%= f.submit t("user.update"), class: "btn btn-success btn-block" %>
      </div>

    <% end %>
  </div>
</div>
