<%= search_form_for [:admin, @search] do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_add_fields t("admin.user.add_condition"), f, :condition %>
  <br>
  <%= t "admin.user.sort" %>
  <div class="field row">
    <div class="col-md-6">
      <%= f.sort_fields do |s| %>
        <%= s.sort_select %>
      <% end %>
    </div>
    <div class="actions col-md-6">
      <%= f.submit t("admin.user.search"), class: "btn btn-success sbutton" %>
    </div>
  </div>
<% end %>
