<% provide :title, t("admin.user.new") %>

<div class="form-header">
  <h1>
    <span class="glyphicon glyphicon-user"></span>
    <%= t "admin.user.new" %>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:admin, @user], remote: request.xhr?, html: {data: {modal: true}} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-user"></span>&nbsp;
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control",
          placeholder: t("form.enter_name") %>
      </div>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control",
          placeholder: t("form.enter_email") %>
      </div>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control",
          placeholder: t("form.enter_password") %>
      </div>

      <div class="input-group col-md-12">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control",
          placeholder: t("form.enter_password") %>
      </div>
      
      <div class="input-group col-md-12 text-danger">   
        <%= f.check_box :supervisor %>&nbsp;
        <strong><%= t "admin.user.set_admin" %></strong><br>
      <div class="input-group col-md-12">

      <div class="input-group col-md-12">
        <%= f.submit t("admin.user.create"), class: "btn btn-success btn-block" %>
      </div>
    <% end %>
    <br><br>
  </div>
</div>
