<%= form_for [:admin, @course] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>

  <% @subjects.each do |subject| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :subject_ids, subject.name %>
      </div>
      <div class="col-md-6">
        <%= check_box_tag :subject_ids, subject.id, 
          @course.subjects.include?(subject), name: "course[subject_ids][]" %>
      </div>
    </div>
  <% end %>

  <% if @course.save %>
    <%= f.submit t("course.save_changes"), class: "btn btn-primary" %>
  <% else %>
    <%= f.submit t("course.create_course"), class: "btn btn-primary" %>
  <% end %>

  <br><br><br>
<% end %>
