<% provide :title, t("course.course") %>

<div class="row">
  <div class="col-md-8">
    <subject class="col-md-12">
      <h1><%= @course.name %></h1>
      <%= t "course_subject.line" %>
      <%= render @course_subjects %>
    </subject>

    <description class="col-md-12">
      <%= @course.description %>
    </description>

    <ul>
      <%= link_to t("course.edit"), edit_admin_course_path(@course),
        class: "btn btn-primary" %>
      <%= link_to t("course.delete"), [:admin, @course], method: :delete,
        data: {confirm: t("course.you_sure")}, class: "btn btn-primary" %>     
    </ul>
  </div>

  <listuser class="col-md-4">
    <h2><%= t "course.supervisor" %></h2>
    <% @user_courses.each do |user_course| %>
      <% if user_course.user.supervisor? %>
        <div>
          <div class="col-md-8">
            <%= link_to gravatar_for(user_course.user,
              size: Settings.avatar_size_small),
              user_path(user_course.user) %>
            <%= link_to user_course.user.name, user_path(user_course.user) %>
          </div>
          <div class="col-md-4">
            <%= link_to t("user_course.remove"),
              admin_course_user_course_path(@course, user_course),
              method: :delete, data: {confirm: t("user_course.you_sure")},
              class: "btn btn-primary btn-xs" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>

    <h2><%= t "course.list_users" %></h2>
    <% @user_courses.each do |user_course| %>
      <% unless user_course.user.supervisor? %>
        <div>
          <div class="col-md-8">
            <%= link_to gravatar_for(user_course.user,
              size: Settings.avatar_size_small),
              user_path(user_course.user) %>
            <%= link_to user_course.user.name, user_path(user_course.user) %>
          </div>
          <div class="col-md-4">
            <%= link_to t("user_course.remove"),
              admin_course_user_course_path(@course, user_course),
              method: :delete, data: {confirm: t("user_course.you_sure")},
              class: "btn btn-primary btn-xs" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </listuser>
</div>

<%= link_to t("course.edit"), edit_admin_course_path(@course), class: "btn btn-primary" %>
<%= link_to t("course.delete"), [:admin, @course], method: :delete,
  data: {confirm: t("course.you_sure")}, class: "btn btn-primary" %>
<%= link_to t("course.add_user"), edit_admin_course_assign_trainees_path(@course), class: "btn btn-primary" %>
